{% extends 'base.html' %}

{% block content %}
    <div class="changelist-form-container">
        <div class="card">
            <div class="card-body">
                {% if object.photo %}
                    <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
                {% endif %}

                <h1 class="card-title">{{ object.title }}</h1>
                <h6 class="">Muallif : {{ object.author }} | {{ object.date }}</h6>
                <p class="card-text">{{ object.body | safe }}</p>
            {% if user.is_superuser %}

                <a class="btn btn-primary" href="{% url 'article_edit' article.pk %}" role="button">Tahrirlash</a>
                <a class="btn btn-danger" href="{% url 'article_delete' article.pk %}" role="button">O'chirish</a>
                <a class="btn btn-success" href="{% url 'article_list' %}" role="button">Barcha postlar</a>
            {% endif %}
            <div class="card">
                <div class="card-header">Izohlar</div>
                {% for comment in article.comments.all %}
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment }}</p>
                            <footer class="blockquote-footer">{{ comment.author }}</footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

{% endblock content %}